/* Hamburger menu */

#overlay {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}

#overlay.active {
  z-index: 1111;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#burger {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 1112;
  cursor: pointer;
  transition: 0.3s linear;
}

#nav {
  height: 100vh;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17141d;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  margin-left: 12.5rem;
  z-index: 1111;
}

#nav.active {
  transform: translateX(0);
}

/* ul {
  list-style: none;
  text-align: center;
}

li {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 1.6;
} */

.text {
  width: 80%;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 3px;
}

/* h1 {
  margin-bottom: 3rem;
}

a {
  color: #fafafa;
  transition: 0.3s linear;
}

i {
  margin: 2rem;
} */

a:hover {
  /* color: goldenrod; */
  outline: none;
}

/* play now button styling */

.play-now {
  color: rgba(255, 255, 255, 0.9);
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  transition: all 0.5s;
  position: relative;
}

.play-now span {
  z-index: 2;
  margin: 1.5rem;
  top: 0.5rem;
  left: -8rem;
}
.play-now::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -8rem;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 0, 0, 0.5);
}
.play-now::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -8rem;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 0, 0, 0.5);
}
.play-now:hover::before {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.747);
}
.play-now:hover::before {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.747);
}
.play-now.show-x::before {
  transform: rotate(-180deg);
  background-color: rgba(255, 255, 255, 0);
}
.play-now.show-x::after {
  transform: rotate(180deg);
  background-color: rgba(255, 255, 255, 0);
}

#btnJoin,
#btnCreate,
#btnCopyId {
  width: 55%;
  height: 3rem;
  font-size: clamp(0.75rem, 2vw, 1.2rem);
  background-color: #17141d;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
}

#btnJoin:hover,
#btnCreate:hover,
#btnCopyId:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.747);
}

#btnJoin:active,
#btnCreate:active,
#btnCopyId:active {
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  color: white;
  font-size: clamp(1rem, 2vw, 1.3rem);
}

#username,
#txtGameId {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
#txtGameId {
  width: 94%;
}

/* @media screen and (max-width: 600px) {
  #burger {
    top: 90%;
    right: 12%;
  }
} */
