@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');

/* Font */
body {
  font-family: 'Cabin', sans-serif;
  color: gold;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: gold;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

h1 {
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
}


html, body, .grid-container { 
  height: 100%;
  margin: 0;
  background-image: url(../images/purple-paper.jpg);
  background-size: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.25fr 1fr 0.25fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.1fr 1fr 0.5fr 0.5fr;
  gap: 0px 0px;
}

.nav-bar { grid-area: 1 / 1 / 2 / 10; }

.player-2 { grid-area: 3 / 5 / 4 / 6; }

.player-1 { grid-area: 3 / 3 / 4 / 4; }

.player-3 { grid-area: 3 / 7 / 4 / 8; }

.player-4 { grid-area: 5 / 8 / 6 / 9; }

.player-5 { grid-area: 7 / 8 / 8 / 9; }

.player-7 { grid-area: 9 / 5 / 10 / 6; }

.player-6 { grid-area: 9 / 7 / 10 / 8; }

.player-8 { grid-area: 9 / 3 / 10 / 4; }

.player-9 { grid-area: 7 / 2 / 8 / 3; }

.player-10 { grid-area: 5 / 2 / 6 / 3; }

.action-bar { grid-area: 11 / 1 / 12 / 10; }

.footer { grid-area: 13 / 1 / 14 / 10; }

.poker-table {
  display: grid;
  background: url(../images/table.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-template-columns: 0.5fr 0.3fr 1fr 1fr 1fr 0.3fr 0.5fr;
  grid-template-rows: 1.4fr 0.5fr 1fr 2fr 1fr 0.5fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". . total-pot total-pot total-pot . ."
    ". . status-msg status-msg status-msg . ."
    ". . table-cards table-cards table-cards . ."
    ". . winner-msg winner-msg winner-msg . ."
    ". . player-turn player-turn player-turn . ."
    ". . . . . . .";
  grid-area: 3 / 2 / 10 / 9;
}

.total-pot {
  grid-area: total-pot;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-msg {
  grid-area: status-msg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-cards {
  grid-area: table-cards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-msg {
  grid-area: winner-msg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-turn {
  grid-area: player-turn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 5%;
  height: auto;
}

/* .p-container {
  display: flex;
} */

.p-icons {
  max-width: 42%;
  height: auto;
  z-index: 999;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .p9, .p10 {
  float: right;
}

.p1, .p8 {
  float: right;
} */

.p2 {
  justify-self: center;
}

#username {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#raiseAmount {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#txtGameId {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#raiseRange {
  margin-left: 1rem;
}

/* .bet-slider {
  display: flex;
  flex-wrap: wrap;
} */

button {
  margin: 0rem 1rem 0rem 1rem;
  background-color: green;
  color: gold;
  border-color: gold;
  font-size: clamp ;
  font-size: clamp(1rem, 2.5vw, 2rem);
  border-radius: .75rem;
  /* background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75); */
}

button:hover {
  /* background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; */
  background-color: purple;
  transition-duration: 0.5s;
}

/* DELETE BELOW */
.grid-container * {
  border: 1px solid gold;
  position: relative;
}

/* .grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  color: gold;
} */

