@import url("https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700");

/* Font */
body {
  font-family: "Cabin", sans-serif;
  color: white;
  /* font-size: clamp(1rem, 2.5vw, 1.5rem); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: white;
  font-size: clamp(1rem, 2vw, 2rem);
}

h1 {
  font-size: clamp(1.2rem, 2vw, 2.5rem);
}

.footer {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

html,
body,
.grid-container {
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.486);
  background-image: url(../images/bg-victorian.jpg);
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 0.5fr 1fr 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.1fr 1.5fr 0.1fr 0.5fr;
  gap: 0px 0px;
}

.nav-bar {
  grid-area: 1 / 1 / 2 / 10;
}

.player-2 {
  grid-area: 3 / 5 / 4 / 6;
}

.player-1 {
  grid-area: 3 / 3 / 4 / 4;
}

.player-3 {
  grid-area: 3 / 7 / 4 / 8;
}

.player-4 {
  grid-area: 5 / 8 / 6 / 9;
}

.player-5 {
  grid-area: 7 / 8 / 8 / 9;
}

.player-7 {
  grid-area: 9 / 5 / 10 / 6;
}

.player-6 {
  grid-area: 9 / 7 / 10 / 8;
}

.player-8 {
  grid-area: 9 / 3 / 10 / 4;
}

.player-9 {
  grid-area: 7 / 2 / 8 / 3;
}

.player-10 {
  grid-area: 5 / 2 / 6 / 3;
}

.poker-table {
  display: grid;
  /* width: 100%;
  padding-bottom: 56.25%; */
  background-image: url(../images/table.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 0.5fr 0.3fr 1fr 1fr 1fr 0.3fr 0.5fr;
  grid-template-rows: 1.4fr 0.5fr 1fr 2fr 1fr 0.5fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". . game-pot game-pot game-pot . ."
    ". . game-stage game-stage game-stage . ."
    ". . table-cards table-cards table-cards . ."
    ". . player-turn player-turn player-turn . ."
    ". . . . . . ."
    ". . . . . . .";
  grid-area: 3 / 2 / 10 / 9;
}

.table-cards {
  grid-area: table-cards;
}

.game-pot {
  grid-area: game-pot;
}

.game-stage {
  grid-area: game-stage;
}

.player-turn {
  grid-area: player-turn;
}

.action-bar {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "check-btn call-btn bet-btn"
    "fold-btn all-in-btn bet-slider";
  grid-area: 11 / 5 / 12 / 9;
}

.actions {
  /* background-color: rgba(0, 0, 0, 0.37); */
}

.check-btn {
  grid-area: check-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fold-btn {
  grid-area: fold-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-btn {
  grid-area: call-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bet-btn {
  grid-area: bet-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-in-btn {
  grid-area: all-in-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bet-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game-log {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "game-log-txt game-log-txt game-log-txt"
    "game-log-txt-type game-log-txt-type game-log-txt-type";
  grid-area: 11 / 1 / 12 / 5;
}

.game-log-txt {
  grid-area: game-log-txt;
}

.player-msg {
  color: #003cff;
  font-weight: bold;
}

.dealer-msg {
  color: black;
}

.game-log-txt-type {
  grid-area: game-log-txt-type;
  border: none;
  color: #003cff;
  font-size: large;
}

.footer {
  grid-area: 13 / 1 / 14 / 10;
}

.game-info {
  grid-area: 3 / 9 / 12 / 10;
}

.game-pot {
  grid-area: game-pot;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-stage {
  grid-area: game-stage;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-cards {
  grid-area: table-cards;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  flex-grow: 0;
}

.winner-msg {
  grid-area: winner-msg;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-turn {
  grid-area: player-turn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 20%;
  height: auto;
}

.p2 {
  display: grid;
  justify-self: center;
}

.p-icons {
  max-width: 42%;
  height: auto;
  z-index: 999;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#divPlayers {
  border-top: 1px solid white;
}

.game-info {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  padding: 0.25rem;
}

.info-btns {
  display: flex;
  justify-content: center;
}

#btnJoin,
#btnCreate,
#btnCopyId {
  width: 60%;
  height: 3rem;
}

.error {
  color: red;
}

.player-list {
  margin: 1rem 0 0.25rem 0;
  /* background-color: mediumblue; */
}

.game-log {
  border-top: 1px 1px 1px 1px solid white;
  border-bottom: black;
  background-color: rgba(211, 211, 211, 0.836);
  color: #003cff;
  overflow-y: scroll;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info-container {
  margin-top: 0.5rem;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}

#username {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-bottom: 1rem;
}

#raiseAmount {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#txtGameId {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-bottom: 1rem;
}

#raiseRange {
  margin-left: 1rem;
}

button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  width: 12.5rem;
  height: 3rem;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;

  margin: 1rem;
  background-color: #000d80;
  color: white;
  border-color: white;
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  border-radius: 2rem;
  background-image: linear-gradient(
    to right,
    #003cff,
    #4087e4,
    #0051ffa8,
    #4f31d6
  );
  box-shadow: 0 4px 15px 0 #00d9ff;
}

button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:focus {
  outline: none;
}

/* DELETE BELOW */
.grid-container * {
  border: 1px solid white;
  position: relative;
}

/* .grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  color: gold;
} */

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  color: white;
  user-select: none;
}

.computer-deck {
  background-color: green;
}

.player-deck {
  background-color: blue;
}

.text {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 7rem;
}

.card.red {
  color: red;
  background-color: white;
  z-index: 1000;
}

.card.black {
  color: black;
  background-color: white;
  z-index: 1000;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: 0.5rem;
  left: 0.5rem;
}

.card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

.player-1,
.player-2,
.player-3,
.player-6,
.player-8 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-4,
.player-5 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.player-9,
.player-10 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hand {
  display: flex;
  height: 7rem;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.card {
  width: 5rem;
  margin: 0 1rem;
}

.log-winner {
  font-weight: bold;
  color: hsl(0, 70%, 25%);
}

img {
  max-width: 100%;
}

@media screen and (max-width: 101.25rem) {
  .player-1,
  .player-2,
  .player-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #hand {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .player-6,
  .player-8 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .player-4,
  .player-5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-9,
  .player-10 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 95.125rem) {
}
